.messageInput {
    position: sticky;
    bottom: 0;
}

.verticalAlignment {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.space {
    padding: 20px;
}

.chat {
    width: 30%;
    flex: 1 1 415.969px;
    padding: var(--lumo-space-m);
    display: flex;
    box-sizing: border-box;
    gap: var(--lumo-space-m);
    flex-direction: column;
    overflow: auto;
    unicode-bidi: isolate;
}

.messages {
    overflow: scroll;
    flex-grow: 1;
    display: block;
    unicode-bidi: isolate;
}